<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <title>Homepage</title>
</head>
<body>
    <!-- Jinja Flask templating language, write styles in css only (avoid inline styles) -->
    {% if message | length > 0  %}
        <div style="color: red;">{{ message }}</div>
    {% endif %}

    <div class="div-contents">
        <div class="header">
            <div>Title</div>
            <div>Updated</div>
            <div>Edit</div>
        </div>
        {% for post in posts %}
            <div class="row">
                <div><a href="{{ url_for('posts.post_view', url_slug=post.url_slug) }}">{{ post.title }}</a></div>
                <div>{{ post.modified }}</div>
                <div><a href="{{url_for('posts.post_edit', post_id=post.post_id)}}">Edit</a></div>
            </div>
        {% endfor %}
    </div>

    <a class="button" href="{{url_for('posts.post_edit')}}">Add new post</a>
</body>
</html>