{% extends "layouts/base.html" %}
{% block content %}
    <!-- Jinja Flask templating language -->
    {% if message | length > 0  %}
        <div style="color: red;">{{ message }}</div>
    {% endif %}

    <div class="div-contents">
        <div class="div-header">
            <div>Title</div>
            <div>Updated</div>
            <div>Edit</div>
        </div>
        {% for post in posts %}
            <div class="div-row">
                <div><a href="{{ url_for('posts.post_view', url_slug=post.url_slug) }}">{{ post.title }}</a></div>
                <div>{{ post.modified }}</div>
                <div><a href="{{url_for('posts.post_edit', post_id=post.post_id)}}">Edit</a></div>
            </div>
        {% endfor %}
    </div>

    <a class="div-button" href="{{url_for('posts.post_edit')}}">Add new post</a>
{% endblock %}