{% extends "layouts/base.html" %}
{% block content %}
<!-- Jinja Flask templating language -->

<div class="flex flex-col w-full items-center justify-center">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div role="alert" class="alert alert-warning fixed left-50% top-5">
        <i class="fa-solid fa-triangle-exclamation"></i>
        <span>{{message}}</span>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <ul class="list bg-base-100 rounded-box shadow-md items-center mt-20">
        {% for post in posts %}
        <li class="list-row">
            <div>
                <div>{{post.title}}</div>
                <div class="text-xs uppercase font-semibold opacity-60">Last modified: {{post.modified}}</div>
                <div class="text-xs uppercase font-semibold opacity-60">Created: {{post.created}}</div>
            </div>
            <a href="{{ url_for('posts.post_view',post_id = post.post_id, url_slug=post.url_slug) }}" class="btn btn-square btn-ghost">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a href="{{url_for('posts.post_edit', post_id=post.post_id)}}" class="btn btn-square btn-ghost">
                <i class="fa-solid fa-pen-clip"></i>
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class="btn mt-4">
        <a href="{{url_for('posts.post_edit')}}">Add new post</a>
    </div>
</div>
{% endblock %}