{% extends "layouts/base.html" %}
{% block content %}
    <!-- Jinja Flask templating language -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div style="color: red;">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="div-contents">
        <div class="div-header">
            <div>Title</div>
            <div>Updated</div>
            <div>Edit</div>
        </div>
        {% for post in posts %}
            <div class="div-row">
                <div><a href="{{ url_for('posts.post_view',post_id = post.post_id, url_slug=post.url_slug) }}">{{ post.title }}</a></div>
                <div>{{ post.modified }}</div>
                <div><a href="{{url_for('posts.post_edit', post_id=post.post_id)}}">Edit</a></div>
            </div>
        {% endfor %}
    </div>

    <form action="{{url_for('auth.logout')}}" method="POST"> <!-- auth.logout instead of hardcoding /logout -->
        <button type="submit">Logout</button>
    </form>

    <div class="div-button">
        <a href="{{url_for('auth.login')}}">Login page</a>
    </div>

    <a class="div-button" href="{{url_for('posts.post_edit')}}">Add new post</a>
{% endblock %}