{% extends "layouts/base.html"%}

{% block title %}
{% if post.title|length > 0 %}
Edit {{post.title}} post
{% else %}
New post
{% endif %}
{% endblock %}

{% block content %}

<div class="flex flex-col w-full items-center justify-center mt-30">
    <div class="card w-96 bg-base-100 card-xl shadow-sm">
        <div class="card-body">

            {% if post.title|length > 0 %}
            <h2 class="card-title">Edit {{post.title}} post</h2>
            {% else %}
            <h2 class="card-title">New post</h2>
            {% endif %}

            <p>{{post.body}}</p>
            <hr class="rounded-xl">
            <form class="flex flex-col" action="{{ url_for('posts.post_edit', post_id=post.post_id) }}" method="POST" enctype="multipart/form-data">
                <label for="title" class="font-semibold opacity-80">Title</label>
                <input name="post_title" id="title" type="text" placeholder="Title" class="input input-secondary" value="{{post.title}}"/>

                <label for="body" class="font-semibold opacity-80 mt-4">Body</label>
                <textarea name="post_body" id="body" placeholder="Secondary" class="textarea textarea-secondary">{{post.body}}</textarea>

                <label for="tags" class="font-semibold opacity-80 mt-4">Tags</label>
                <input name="tags" value="{{post.tags}}" id="tags" type="text" placeholder="Tags" class="input input-secondary" />

                <label for="urlslug" class="font-semibold opacity-80 mt-4">Url slug</label>
                <input name="url_slug" value="{{post.url_slug}}" id="urlslug" type="text" placeholder="Url slug" class="input input-secondary" />

                <label for="files" class="font-semibold opacity-80 mt-4">Upload files</label>
                <input name="files" id="files" type="file" class="file-input file-input-primary" multiple/>

                <input class="btn btn-soft btn-secondary capitalize mt-4" type="submit" name="button_type" value="save"/>
                <input class="btn btn-soft btn-error capitalize mt-1" type="submit" name="button_type" value="delete" />
            </form>
        </div>
    </div>
    <a class="btn btn-primary mt-4" href="/">Cancel</a>
</div>
{% endblock %}